cargo-features = ["profile-rustflags"]

[package]
name = "dpll"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
crossbeam-channel = "0.5.15"
itertools = "0.14.0"
memmap2 = "0.9.9"

[dev-dependencies]
criterion = "0.8.0"

[[bench]]
name = "parser"
harness = false

[profile.perf]
inherits = "release"
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
rustflags = ["-C", "target-cpu=native", "-C", "link-arg=-fuse-ld=mold"]
