[package]
name = "dpll"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
criterion = "0.7.0"
fixedbitset = "0.5.7"
memmap2 = "0.9.9"

[[bench]]
name = "parser"
harness = false
